/* Style sheet */
.title
{
	text-align:center;
	font-size:1.5em;
	margin-bottom:2px;
	height:60px;
}
.text
{
	margin-top:5px;
	line-height:20px;
	color:#333333;
	text-decoration: none; !important
	padding-bottom:20px; !important

}
.box
{
	text-align:center;
	align:center;
}
.buttons
{
	margin:10px 0 50px 0;
}